.css-18e3th9{
    background-color: black;
}
.css-k0sv6k{
    display: none;
}
.css-qri22k{
    display: none;
}
.st-b7{
    width: 40vw;
}
.css-10trblm{
    color: white;
    text-align: center;
}
.css-qrbaxs,.css-fg4pbf{
    color:white;
}
.css-183lzff{
    font-size: 20px;
    padding:0 30px;
}
img{
    padding:0 20px;
}
.css-18e3th9{
    padding: 2rem 10rem 10rem;
}